
ul {
    width: 70%;
}
body{
	background-color: #ede8e4;
	font-family: 'Dosis', sans-serif;
}


h1{
	color: white;

}

#header img{
	position:relative;
    -webkit-animation-duration: 20s;
     animation-name: transition;
}


@-webkit-keyframes transition {

    0%   {bottom: 600px; top: -500px;}
    20% { bottom: -600px; top: 0px;}
    30%  {bottom: -600px; top:-100px;}
    40%  { bottom: -600px; top: 0px;}
    50%  {bottom: -600px; top:-40px;}
    60%  {bottom: 0px; top:0px;}
    70%  {bottom: -600px; top:-40px;}
    80%  {bottom: 0px; top:0px;}
    90%  {bottom: -600px; top:-20px;}
    100% {left: 0px; top: 0px;}
  }


a:link, a:visited {
	color: #711919;
	/* background-color:#10161c; */
	padding:5px 5px;
	text-decoration: none;
	text-align: center;
	display:inline-block;
	border-radius: 20%;
	width: 20%;
}
a:hover, a:active {
	background-color:#10161c;
	/* background-color: #ede8e4; */
	color:white;
}

#header{
	background-color:#10161c;
	padding: 1px;	
	
}

#nav {
	font-size:25px;
}

#wherenow{
	padding-top:10px;
	font-size:25px;
	padding-left: 35%;
}

#nowwhat{
	
	font-size:23px;
	
}

.logobottom a{
    width: 100px;
    height: 100px;
}

.logobottom img{
    height: 100px;
    width: 100px;
}

.load-wrapp {
    float: left;
    width: 200px;
    height: 200px;
    margin-left: 45%;
    padding: 20px 20px 20px;
    border-radius: 5px;
    text-align: center;
    background-color: #ede8e4;
}

.load-wrapp p {padding: 0 0 20px;}
.load-wrapp:last-child {margin-right: 0;}


.spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.bubble-1,
.bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #10161c;
}

.bubble-2 {
    top: auto;
    bottom: 0;
}

@keyframes bounce  {
    0%, 100% {transform: scale(0.0);}
    50% {transform: scale(1.0);}
  }
  

.load-9 .spinner {animation: loadingI 2s linear infinite;}
.load-9 .bubble-1, .load-9 .bubble-2 {animation: bounce 2s ease-in-out infinite;}
.load-9 .bubble-2 {animation-delay: -1.0s;}
@keyframes loadingI {
    100% {transform: rotate(360deg);}
}

#go-to-top {
    background-color: #ede8e4;
    position: fixed;
    bottom: 10px;
    float: right;
    right: 18.5%;
    left: 77.25%;
    max-width: 150px;
    width: 100%;
    font-size: 12px;
    border-color: rgba(85, 85, 85, 0.2);
    padding: .5px;
    border-radius: 4px;
}

a:hover#go-to-top {
    background-color: #10161c;
    border-radius: 20%;
}

#title-anchor {
    color: white;
}

a:hover#title-anchor {
    color: #711919;
    background-color: #ede8e4;
}

li {
    margin: 20px;
}