body{
	background-color: #f7f7f7;
	font-family: 'Dosis', sans-serif;
}


h1{
	color: white;

}

img{
	position:relative;
    -webkit-animation-duration: 7s;
     animation-name: transition;
    
}


@-webkit-keyframes transition {

    0%   {bottom: 600px; top: -500px;}
    40%  { bottom: -600px; top: 0px;}
    55%  {bottom: -600px; top:-100px;}
    70%  { bottom: -600px; top: 0px;}
    75%  {bottom: -600px; top:-40px;}
    80%  {bottom: 0px; top:0px;}
    85%  {bottom: -600px; top:-20px;}
    90%  {bottom: 0px; top:0px;}
    95%  {bottom: -600px; top:-10px;}
    100% {left: 0px; top: 0px;}
}

a:link, a:visited {
	color:white;
	background-color:#96C3C3;
	padding:15px 25px;
	text-decoration: none;
	text-align: center;
	display:inline-block;
}

a:hover, a:active {
	background-color:white;
	color: #96C3C3;
}

#header{
	background-color:#96C3C3;
	padding: 1px;	
	
}

#nav {
	padding-top: 10px;
	font-size:25px;
	margin-left: 60px;
}

#wherenow{
	padding-top:10px;
	font-size:25px;
	padding-left: 120px;
}

#delete{
	
	font-size:55px;
	padding-left: 120px;
}

